extends layout

block scripts
  script(src="/libs/angular.min.js")
  script(src="/libs/angular-resource.min.js")
  script(src="/js/app.module.js")
  script(src="/js/product.controller.js")

block content
  div(ng-app="app")
    div(ng-controller="ProductController")
      div
        .name Name:
        input(ng-model="product.name")
        .price Price:
        input(ng-model="product.price", type="number")
        br
        button(ng-click="save()") Save

        pre {{ product | json }}

      hr
      h1 Products
      .product(ng-repeat="p in products") {{p.name}} {{p.price}}



